---
layout: page
title: Blog
excerpt: "An archive of blog posts sorted by date."
search_omit: true
# Pagination
paginate: true
paginate:
  collection:   posts
  per_page:     6
  limit:        false
  categories:   [blog]
---

<ul class="post-list">
{% for post in paginator.posts %}	
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous btn">Previous</a>
  {% endif %}
  <span class="page_number btn2" align="justify">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next btn">Next</a>
  {% endif %}
</div>